* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(26, 25, 36);
}

.nav {
  background-color: rgb(20, 19, 27);
  display: flex;
  justify-content: space-between;
}
button {
  cursor: pointer;
  font-size: 1.5vw;
  margin: auto 1vw;
}
form {
  background-color: red;
  text-align: center;
}
form input {
  font-size: 2vw;
}
